```
{% if error %}
{{ error }}
{% else %}
{% for mr in mrs -%}
    {{ mr['title'] }} by {{ mr['user'] }}
    {{ mr['url'] }}
    {% if mr['assignee'] -%}
    assigned to {{ mr['assignee'] }}
    {% endif %}
{% endfor %}
{% endif %}
```
